@media screen and (min-width: 830px) {

  .homePage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;
    overflow: hidden;
  }

  .container {
    width: 830px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
    background-image: url("../../assets/img/comtainer_web_bgi.png");

    .wheelChunk {
      width: 500px;
      height: 500px;
      background-image: url("../../assets/img/wheel-disc.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 100% 100%;
      position: absolute;
      left: 50%;
      top: 18%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .titleChunk {
      padding: 40px 20px 20px 20px;

      .title {
        font-size: 36px;
        color: #fff3d6;
      }

      .readMore {
        font-size: 28px;
        color: #e9e2ff;
        cursor: pointer;
      }

      >.imgBox {
        width: 250px;
        margin: 0 auto;

        >img {
          display: block;
          width: 100%;
        }
      }

      .dater {
        line-height: 40px;
        font-family: Helvetica;
        font-weight: 400;
        color: #f8f6ff;
        .full_span {
          font-size: 28px;
        }
        .full_span:nth-child(3) {
          margin-left: 10px;
        }
      }

      .overallChunk {
        padding: 10px;
        box-sizing: border-box;
        background-image: linear-gradient(0deg, rgba(159, 133, 236, 0.08) 0, rgba(159, 133, 236, 0.08) 0, rgba(226, 220, 245, 0.08) 100%, rgba(226, 220, 245, 0.08) 100%);
        border-radius: 18px;
        border: 1px solid rgb(223 201 154 / 54%);

        .item_cel {
          padding: 0 10px;

          .title {
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            font-family: Helvetica;
            font-weight: 400;
            font-size: 30px;
            color: #f8f6ff;
            display: inline-block;
            position: relative;
          }

          .title::after,
          .title::before {
            display: block;
            content: "";
            width: 200px;
            height: 16px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: 100% 100%;
            position: absolute;
          }

          .title::after {
            background-image: url("../img/line_l.png");
            right: 110%;
            top: 12px;
          }

          .title::before {
            background-image: url("../img/line_r.png");
            left: 110%;
            top: 12px;
          }

          .rate_p {
            padding: 10px 0;
          }

          .content {
            font-family: Helvetica;
            font-weight: 400;
            font-size: 28px;
            color: #f8f6ff;
            line-height: 40px;
            opacity: 0.7;
            padding: 10px 10px;
          }

          .actionBtn {
            height: 130px;
            position: relative;
          }

          .selectUl {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;

            li {
              list-style: none;
            }

            .mathch_li {
              width: 130px;
              height: 130px;
              line-height: 130px;
              text-align: center;
              margin: 10px;
              background-image: url("../img/match.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              font-size: 24px;
              color: #7f5512;
            }
          }

          .match {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .name {
              font-family: Helvetica;
              font-weight: 400;
              font-size: 28px;
              color: #f8f6ff;
              line-height: 40px;
              opacity: 0.7;
              margin-right: 20px;
            }
          }

          .advice {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .name {
              font-family: Helvetica;
              font-weight: 400;
              font-size: 28px;
              color: #f8f6ff;
              line-height: 40px;
              opacity: 0.7;
              margin-right: 20px;
            }

            .static {
              font-family: Helvetica;
              font-weight: 400;
              font-size: 28px;
              color: #f8f6ff;
              line-height: 40px;
              opacity: 0.7;
            }
          }
        }
      }

      .statisticChunk {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
        margin-top: 20px;

        .item {
          height: 156px;
          background: linear-gradient(0deg, rgb(196 218 241 / 20%) 0%, rgb(217 166 51 / 4%) 100%);
          border-radius: 12px;
          border-image: linear-gradient(0deg, #2c304c, #f6dca0) 10 10;
          display: grid;
          grid-template-rows: auto 50px;

          .i_content {
            height: 154px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background-image: linear-gradient(0deg,
                rgba(16, 0, 64, 0.23) 0,
                rgba(16, 0, 64, 0.23) 0,
                rgba(255, 255, 255, 0.23) 100%,
                rgba(255, 255, 255, 0.23) 100%);

            border-radius: 18px;
            border: 1px solid rgb(185 157 157);

            .text_12 {
              height: calc(100% - 50px);
              display: inline-block;
              overflow-wrap: break-word;
              color: rgba(233, 226, 255, 1);
              font-size: 30px;
              font-family: Helvetica-Bold;
              font-weight: 700;
              white-space: nowrap;
            }

            .p_12 {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .p_13 {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .p_14 {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
            }

            .tag_2 {
              background-color: rgba(244, 195, 111, 1);
              border-radius: 8px;
              height: 50px;
              line-height: 50px;
              overflow-wrap: break-word;
              color: rgba(33, 2, 95, 1);
              font-size: 24px;
              font-family: Helvetica;
              white-space: nowrap;
            }

            .p_1 {
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .round {
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: red;
            }

            .s_span {
              font-family: Helvetica;
              font-weight: 400;
              font-size: 30px;
              color: #e9e2ff;
            }
          }

          .s_btn {
            height: 50px;
            line-height: 50px;
            background: #f4c36f;
            border-radius: 8px;
            text-align: center;

            font-family: Helvetica;
            font-weight: 400;
            font-size: 24px;
            color: #21025f;
            cursor: pointer;
          }
        }

        .three_item {
          .i_content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .i_p {
              font-family: Helvetica;
              font-weight: 400;
              font-size: 28px;
              color: #e9e2ff;
            }
          }
        }
      }

      .listChunk {
        .branner {
          display: flex;
          justify-content: center;
          padding: 20px 0;

          .imgBox {
            width: 369px;
            height: 86px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;

            >img {
              display: block;
              width: 100%;
            }
          }
        }

        .contentRow {
          .item {
            margin: 20px 0;
            padding: 20px 10px 20px 0px;
             background-image: linear-gradient(0deg,
               rgba(87, 85, 172, 0.29) 0,
               rgba(87, 85, 172, 0.29) 0,
               rgba(191, 191, 225, 0.29) 100%,
               rgba(191, 191, 225, 0.29) 100%);
             border-radius: 18px;

            .score {
              display: flex;
              justify-content: flex-start;
              background-image: url("../img/score_bgi.png");
              background-repeat: no-repeat;
              background-size: contain;

              .sco_title {
                height: 40px;
                margin-left: 107px;
                display: flex;
                justify-content: flex-end;

                .name {
                  display: block;
                  height: 40px;
                  line-height: 40px;
                  font-family: Helvetica;
                  font-weight: 400;
                  font-size: 30px;
                  color: #ffffff;
                }
              }

              .s_rate {
                height: 40px;
                line-height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
            }

            .i_content {
              font-family: Helvetica;
              font-weight: 400;
              font-size: 28px;
              color: #f5fbff;
              line-height: 40px;
              padding: 20px 0 20px 20px;
            }
          }
        }
      }
    }
  }
}